<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqnu.web.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.cqnu.web.entity.Address">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="recevier" jdbcType="VARCHAR" property="recevier" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <insert id="addAddress">
    insert into address(cust_id,recevier,mobile,address,state)
    values(#{custId},#{recevier},#{mobile},#{address},'00A')
  </insert>
  <update id="update">
    update address a set a.address = #{address},a.recevier =#{recevier},a.mobile =#{mobile}
    where a.cust_id = #{custId} and a.address_id = #{addressId} and a.state = '00A'
  </update>
  <select id="getCustAddress" parameterType="map" resultType="map">
    select a.mobile,a.recevier,a.address,a.address_id from  address a
    where  a.state = '00A'
    and a.cust_id = #{custId}
  </select>
</mapper>