<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqnu.web.mapper.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.cqnu.web.entity.Customer" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cust_id" property="custId" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="eff_date" property="effDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="getCustomer" resultType="map" parameterType="map">
    select c.cust_id,c.cname,c.password,c.sex,c.mobile,c.state from customer c
    where c.state = '00A'
    <if test="null != cust_id and '' != cust_id">
      and c.cust_id = #{cust_id}
    </if>
      and c.mobile = #{mobile}
      and c.password = #{password}
  </select>

  <insert id="addCustpmer" parameterType="map">
    insert into customer (cname,password,sex,mobile,state,eff_date)
    VALUES (
      #{cname},#{password},#{sex},#{mobile},'00A',now()
    )
  </insert>
</mapper>