<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqnu.web.mapper.LaundryShopMapper">
  <resultMap id="BaseResultMap" type="com.cqnu.web.entity.LaundryShop">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="shop_no" jdbcType="INTEGER" property="shopNo" />
    <result column="shop_category" jdbcType="VARCHAR" property="shopCategory" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_area" jdbcType="VARCHAR" property="shopArea" />
    <result column="shop_address" jdbcType="VARCHAR" property="shopAddress" />
    <result column="principal_no" jdbcType="VARCHAR" property="principalNo" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>

  <insert id="addLaundryShop" parameterType="map">
    insert into laundry_shop (shop_no,shop_category,shop_name,shop_area,shop_address,principal_no,state)
    values(
    #{shop_no},#{shop_category},#{shop_name},#{shop_area},#{shop_address},#{principal_no},'00A'
    )
  </insert>
  <select id="getShopNo" parameterType="map" resultType="map">
    select max(shop_no)+1 as shop_no from laundry_shop
  </select>
  <select id="getLaundryShopList" parameterType="map" resultType="map">
    select s.shop_id,s.shop_no,s.shop_category,s.shop_name ,s.shop_area ,s.shop_address,s.principal_no,
    a.admin_name,a.admin_tel_num,a.admin_email,a.admin_sex
    from laundry_shop s ,admin a
    where s.state = '00A' and s.principal_no = a.admin_no
    <if test="null != roleIds">
      and a.role_id in
      <foreach close=")" collection="roleIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    <if test="null != name and '' != name">
      and a.admin_name like concat(concat('%', #{name}), '%')
    </if>
    <if test="null != area and '' != area">
      and s.shop_area like concat(concat('%', #{area}), '%')
    </if>
  </select>
  <update id="deleteLaundryShop">
    update laundry_shop set state = '00X' where shop_no = #{shopNo}
  </update>
  <update id="updateLaundryShop">
    update laundry_shop set shop_name = #{shop_name},shop_area = #{shop_area},
    shop_address = #{shop_address},principal_no = #{principal_no}
    where state = '00A' and shop_no = #{shop_no}
  </update>
  <select id="getShopByShopNo" parameterType="map" resultType="map">
    select s.shop_id,s.shop_no,s.shop_name ,s.shop_area ,s.shop_address,s.principal_no from laundry_shop s
    where s.state = '00A'
    and s.shop_no = #{shop_no}
  </select>

  <select id="getCustLaundryShopList" parameterType="map" resultType="map">
    select s.shop_id,s.shop_no,s.shop_category,s.shop_name ,s.shop_area ,s.shop_address,s.principal_no
    from laundry_shop s
    where s.state = '00A' and s.shop_category = '门店' and s.shop_address like concat(concat('%', #{shop_address}), '%')
  </select>
  <select id="getPrincipalShopNo" parameterType="map" resultType="map">
    select s.shop_name,s.principal_no,a.admin_email,a.admin_tel_num from laundry_shop s ,admin a
    where s.state = '00A'and a.state = '00A'
    and s.shop_no = #{shopNo} and a.admin_no = s.principal_no
  </select>
</mapper>